body {
    margin: 0;
    font-family: Arial;
}

#top {
    width: 100%;
    height: 80vh;
}

#bottom {
    width: 100%;
    height: 20vh;
    display: flex;
}

#lineContainer {
    width: 50%;
    height: 100%;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

#investContainer {
    width: 50%;
    height: 20vh;
    bottom: 0;
    left: 0;
    text-align: center;
    color: black;
}

#investmentAmount {
    font-family: fantasy;
    font-size: 75px;
    bottom: 50vh;
}